*{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	cursor: pointer;
}
#rig{
	overflow-y:scroll ;
	height: 100%;
}
.ri-con{
	background: url(/images/body_bj.jpg);
	padding:10px 10px 10px 20px;
    font: 12px Microsoft Yahei, "sans-serif", "Arial", "Verdana";
}
h1{
	border-bottom: 1px solid #ccc;
    color: #333;
    font-weight: normal;
    padding: 4px 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
    display: block;
}
h1 span{
	zoom: 1;
}
.span1{
    font-size: 18px;
    font-weight: normal;
}
.span1 a:hover{
	color: #EB8A3D;
	text-decoration: underline;
}
.cloud_list{
	padding: 0;
    margin: 0;
    list-style-type: none;
    color: #CC0000;
}
.cloud_close{
    position: relative;
    padding: 0 10px 10px;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    position: relative;
    font-size: 14px;
    background: none;
    font-family: "微软雅黑";
}
.cloud_close a{
	color: #335B64;
}
.cloud_close a:hover{
	color: #EB8A3D;
	text-decoration: underline;
}
.cloud_close img {
    position: absolute;
    right: 10px;
    top: 8px;
    border: none;
}

.list-div{
	width: 100%;
    padding: 0;
}
.important{
	width: 100%;
}
.important ul{
	overflow: hidden;
}
.important li{
	float: left;
	display: block;
    width: 24.24%;
    height: 80px;
    margin-left: 1%;
    /*background: #ccc;*/
}
.item01 {
    background: #27a9e3;
    margin-left: 0!important;
   }
.item02 {
    background: #28b779;
}
.item03 {
    background: #852b99;
}
.item04 {
    background: #ffb848;
}




.console_detaile {
    margin: 15px 0 0 0;
}
.console_detaile ul {
    overflow: hidden;
    margin: -15px 0 0 0;
}
.console_detaile li {
	display: inline-block;
    width: 15.666%;
    height: 62px;
    margin: 15px 0 0 0.5%;
    background: #fff url(/images/bj02.jpg) 0 bottom repeat-x;
/*    min-width: 156px;*/
    vertical-align: top;
}
.console_detaile li .img {
    float: left;
    width: 60px;
    text-align: center;
    height: 60px;
    border-right: 1px solid #e2e2e2;
}
.console_detaile .img img {
    width: 30px;
    height: auto;
    margin-top: 26%;
    vertical-align: middle;
}
.console_detaile li .text {
    padding: 10px 0 0 15px;
    float: left;
}
.console_detaile .text h2 {
    font-size: 12px;
    font-weight: 100;
    font-family: "微软雅黑";
    color: #6a6a6a;
}
.console_detaile .text p {
    font-size: 24px;
    font-weight: 700;
}
.list-div .important li .con_box {
    padding: 10px 20px 10px 0;
    position: relative;
}
.list-div .console_detaile li .con_box {
	position: relative;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    height: 60px;
}
.list-div .important li .con_box img {
    position: absolute;
    top: 10px;
    left: 20px;
    border: none;
    vertical-align: middle;
}
.list-div .important li .con_box h2{
    font-size: 14px;
    font-weight: 100;
    font-family: "微软雅黑";
    color: #fff;
    padding: 7px 0 5px;
    text-align: right;
}
.list-div .important li .con_box p {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-align: right;
}
.list-div a{
    color: #192E32;
}
/*.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear:both;
	overflow: hidden;
	visibility: hidden;
}*/
.item07{
	margin-left: 0!important;
}
.list-div{
	border: 0;
	width: 100%;
}
.order_count{
	border: 1px solid #d4d4d4;
    background: #fff;
    margin-top: 15px;
    padding: 30px 30px 0;
}
.list-div .order_count p{
    position: absolute;
    margin: -1px 0 0 0;
}
.list-div .order_count span{
	font-size: 20px;	
}
.list-div .order_count strong, b {
    font-weight: bold;
}



#order_chart_div{
/*	height: 400px;
    user-select: none;*/
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
}

#footer {
    background: #f3f3f3 ;
    border: 1px solid #ddd;
    padding: 15px;
    color: #9CACAF;
    margin: 10px 0;
    text-align: center;
}
