<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/goodsadd.css"/>
	<script type="text/javascript" src="/js/jquery-1.11.1.js"></script>
	<script src="/js/sta.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<div id="zong">
			<div id="too">
				<span class="s1">
					<a>ECSHOP  管理中心</a>				
				</span>
				<span class="s2">
					 - 添加新商品 
				</span>
				<span class="s3">
					<a>
						<img src="/images/jnsy.png"/>
					</a>
				</span>
				<span class="s4">
					<a>商品列表</a>
				</span>
			</div>
			
			
			<div id="bott">
				<div id="sh">
					<ul class="dd">
						<li style="background: #CCC;"><a >通用信息</a></li>
						<li ><a>详细描述</a></li>
						<li ><a>其他信息</a></li>
						<li ><a>商品属性</a></li>
						<li ><a>商品相册</a></li>
						<li ><a>关联商品</a></li>
						<li ><a>配件</a></li>
						<li ><a>关联文章</a></li>
					</ul>
				</div>
				
				<div id="zg">
				<div id="xi" class="xx1">
					
					<form id="frm" action="/api/add_goods" method="post" enctype="multipart/form-data">
						<table border="" cellspacing="" cellpadding="">
							<tbody>
								<tr>
									<td class="label">商品名称：</td>
									<td>
										<input type="text" name="goodsname" id="" value="" style="float: left; margin: 5px 0; padding: 1px 0px;" />
										<div id="font_color" style="float:left ;margin:10px 0 0 5px; onclick="">
											<img src="/images/color_selecter.gif" style="margin-top: -1px;"/>
										</div>
								
							              	<span class="require-field">*</span>
									</td>
								</tr>
						
								<tr>
									<td class="label">
										<a href="#" title="点击此处查看提示信息" >
											<img src="/images/notice.gif" alt="点击此处查看提示信息"/ style="width: 16px; height: 16px;">
										</a>
										 商品货号： 
									</td>
									<td>
										<input type="" name="goodsnumber" id="" value="" /><br />
										<span class="notice-span">如果您不输入商品货号，系统将自动生成一个唯一的货号。							
										</span>
									</td>
								</tr>

								<tr>
									<td class="label">
										商品分类：
									</td>
									<td>
										<select name="cat_id" onchange=""><option value="0">请选择...</option><option value="549">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;坚果炒货</option></select>
										<a titel="添加分类" class="special">添加分类</a>
										<span class="require-field">*</span>
									</td>
								</tr>
	
								<tr>
									<td class="label">扩展分类：</td>
									<td>
										<input type="button" class="button" name="" id="" value="添加" />
									</td>
								</tr>
								
								<tr>
									<td class="label">商品品牌：</td>
									<td>
										<select name="brand_id" onchange="">
											<option value="0">请选择...</option><option value="45">gr</option>
											<option value="33">空间大师</option><option value="32">溢彩年华</option>
											<option value="41">雅培</option>
										</select>
										<a title="添加品牌" onclick=pp() class="special">添加品牌</a>
									</td>
								</tr>
								
								<tr>
									<td class="label">本店售价：</td>
									<td>
										<input type="text" name="goodsprice" value="0" size="20">
            							<input type="button" value="按市场价计算" onclick="">
            <span class="require-field">*</span></td>
								</tr>
								
								<tr>
						            <td class="label">市场售价：</td>
						            <td><input type="text" name="" value="0" size="20">
						              <input type="button" value="取整数" onclick="">
						            </td>
						        </tr>
						        
						        <tr>
						            <td class="label">虚拟销量：</td>
						            <td><input type="text" name="virtual_sales" value="0" size="20">
						            </td>
						        </tr>
						        
						        <tr id="promote_4">
						            <td class="label" id="promote_5">促销日期：</td>
						            <td id="promote_6">
						            <input name="promote_start_date" type="text" id="promote_start_date" size="12" value="2018-02-28" readonly="readonly">
						            <input name="selbtn1" type="button" id="selbtn1" onclick="" value="选择" class="button" disabled=""> - 
						            	<input name="promote_end_date" type="text" id="promote_end_date" size="12" value="2018-03-28" readonly="readonly">
						            <input name="selbtn2" type="button" id="selbtn2" onclick="" value="选择" class="button" disabled="">
						            </td>
						        </tr>
						        
						        <tr>
						            <td class="label">上传商品图片：</td>
						            <td>
						            <input type="file" name="goods_img" size="35">
						            <img src="/images/no.gif"><br>
						            <input type="text" size="40" value="商品图片外部URL" style="color:#aaa;" name="goods_img_url">
						            </td>
						         </tr>
						         
						         <tr id="auto_thumb_1">
						            <td class="label"> 上传商品缩略图：</td>
						            <td id="auto_thumb_3">
						              <input type="file" name="goods_thumb" size="35" disabled="">
						            <img src="/images/no.gif"><br>
						            <input type="text" size="40" value="商品缩略图外部URL" style="color:#aaa;" name="goods_thumb_url" disabled=""> <br>
						            <label for="auto_thumb"><input type="checkbox" id="auto_thumb" name="auto_thumb" checked="true" value="1" onclick="">自动生成商品缩略图</label>            
						            </td>
						          </tr>
							</tbody>
						</table>
						<div class="button-div">
				          	<input type="hidden" name="goods_id" value="0">
				            <input type="button" value=" 确定 " name="sure" class="button" onclick="addgoods()">
				            <input type="reset" value=" 重置 " name="reset" class="button">
				        </div>
					</form>
				</div>
				
				
				<!--tab切换-->
				<div id="xi2" class="xx1" style="display: none;"></div>
				<div id="xi3" class="xx1" style="display: none;"></div>
				<div id="xi4" class="xx1" style="display: none;"></div>
				<div id="xi5" class="xx1" style="display: none;"></div>
				<div id="xi6" class="xx1" style="display: none;"></div>
				<div id="xi7" class="xx1" style="display: none;"></div>
				<div id="xi8" class="xx1" style="display: none;"></div>
				</div>
			</div>
		</div>
	</body>
</html>
<script type="text/javascript">
	function addgoods(){
		document.getElementById("frm").submit();
	}
</script>