<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ECSHOP 管理中心</title>
	</head>
	<link rel="stylesheet" type="text/css" href="http://localhost:8080/stylesheets/index.css"/>
	<script src="http://localhost:8080/js/jquery-1.11.1.js"></script>
	<script src="../sta.js"></script>
	<body>

<!--shang-->
	<div id="shan">
		<div id="top">
			<div class="top-con">
				<div class="tleft">
					<h2><img src="../public/images/topLogo.png"/></h2>
				</div>
				<div class="tright">
					<ul>
						
						<li>
							<a>
								<img src="../public/images/topmune_08.png"/>
								<span>退出</span>
							</a>
						</li>
						<li>
							<a>
								<img src="../public/images/qingchu.png"/>
								<span>清除缓存</span>
							</a>
						</li>
						<li>
							<a>
								<img src="../public/images/topmune_07.png"/>
								<span>关于 ECSHOP</span>
							</a>
						</li>
						<li>
							<a>
								<img src="../public/images/topmune_007.png"/>
								<span>帮助</span>
							</a>
						</li>
						<li>
							<a>
								<img src="../public/images/topmune_06.png"/>
								<span>查看网店</span>
							</a>
						</li>
						<li>
							<a>
								<img src="../public/images/topmune_05.png"/>
								<span>管理员留言</span>
							</a>
						</li>
						<li>
							<a>
								<img src="../public/images/topmune_04.png"/>
								<span>个人设置</span>
							</a>
						</li>
						<li>
							<a>
								<img src="../public/images/topmune_03.png"/>
								<span>刷新</span>
							</a>
						</li>
						<li>
							<a>
								<img src="../public/images/topmune_02.png"/>
								<span>记事本</span>
							</a>
						</li>
						<li>
							<a>
								<img src="../public/images/topmune_01.png"/>
								<span>开店向导</span>
							</a>
						</li>
						<li style="margin-right: 20px;">
							<a style="color: #ff0; width: 102px;font-weight: bold; ">
								<img src="../public/images/topmune_09.png"/>
								<span>更多模板堂产品</span>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		
		
		<div id="bot">
			<div class="bot-con">
				<ul>
					<li class="fix-spacel">&nbsp;</li>
					<li  style="border-left: none;">
						<a>
							<img src="../public/images/index-11_07.png"/>
							<span>起始页</span>
						</a>
						<span class="muneFG"></span>
					</li>
					<li>
						<a>
							<img src="../public/images/index-11_41.png"/>
							<span>设置导航栏</span>
						</a>
						<span class="muneFG"></span>
					</li>
					<li>
						<a>
							<img src="../public/images/index-11_09.png"/>
							<span>商品管理</span>
							<span class="num">31</span>
						</a>
						<span class="muneFG"></span>
					</li>
					<li>
						<a>
							<img src="../public/images/dd.png"/>
							<span>订单管理</span>
							<span class="num">0</span>
						</a>
						<span class="muneFG"></span>
					</li>
					<li>
						<a>
							<img src="../public/images/index-11_13.png"/>
							<span>广告管理</span>
							<span class="num">0</span>
						</a>
						<span class="muneFG"></span>
					</li>
					<li>
						<a>
							<img src="../public/images/index-11_19.png"/>
							<span>用户评论</span>
							<span class="num">0</span>
						</a>
						<span class="muneFG"></span>
					</li>
					<li>
						<a>用户评论</a>
					</li>
					<li>
						<a>商品列表</a>
					</li>
					<li>
						<a>会员列表</a>
					</li>
					<li>
						<a>商店设置</a>
					</li>
					<li>
						<a>移动版</a>
					</li>
					<li>
						<a>服务市场</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
		


<!--xia-->
		<div id="xia">
			<div id="lef"  >
				<div class="zs">
					<p>
						<span class="tab">导航菜单</span>
					</p>
				</div>
				<div class="zx">
					<div class="menu-list">
						<ul class="menu-ul">
							<li class="lis ico1">
								商品管理
								<ul class="di" style="display: none;">
									<li class="menu-item it01">
										<a target="main" href="https:www.baidu.com">商品列表</a>
										<iframe name="main"></iframe>
									</li>
									<li class="menu-item it02">
										<a target="main" href="https:www.baidu.com">添加新商品</a>
										<iframe name="main"></iframe>
									</li>
									<li class="menu-item">
										<a href="">商品分类</a>
									</li>
									<li class="menu-item">
										<a href="">用户评论</a>
									</li>
									<li class="menu-item">
										<a href="">商品品牌</a>
									</li>
									<li class="menu-item">
										<a href="">商品类型</a>
									</li>
									<li class="menu-item">
										<a href="">商品回收站</a>
									</li>
									<li class="menu-item">
										<a href="">图片批量处理</a>
									</li>
									<li class="menu-item">
										<a href="">商品批量上传</a>
									</li>
									<li class="menu-item">
										<a href="">商品批量导出</a>
									</li>
									<li class="menu-item">
										<a href="">商品批量修改</a>
									</li>
									<li class="menu-item">
										<a href="">生成商品代码</a>
									</li>
									<li class="menu-item">
										<a href="">标签管理</a>
									</li>
									<li class="menu-item">
										<a href="">虚拟商品列表</a>
									</li>
									<li class="menu-item">
										<a href="">添加虚拟商品</a>
									</li>
									<li class="menu-item">
										<a href="">更改加密串</a>
									</li>
									<li class="menu-item">
										<a href="">商品自动上下架</a>
									</li>
								</ul>
							</li>
							<li class="lis ico2">促销管理</li>
							<li class="lis ico3">订单管理</li>
							<li class="lis ico4">广告管理</li>
							<li class="lis ico5">报表统计</li>
							<li class="lis ico6">文章管理</li>
							<li class="lis ico7">会员管理</li>
							<li class="lis ico7">权限管理</li>
							<li class="lis ico8">系统设置</li>
							<li class="lis ico9">模板管理</li>
							<li class="lis ico10">数据库管理</li>
							<li class="lis ico11">短信管理</li>
							<li class="lis ico12">推荐管理</li>
							<li class="lis ico13">邮件群发管理</li>
							<li class="lis ico14">移动版管理</li>
							<li class="lis ico15">模板堂知识库</li>
							
						</ul>
						
					</div>
				</div>
			</div>
			
			
			<div id="cen">
				<div class="show-right">
					
				</div>
				<div class="jianjiao">
					<a>
						<img src="../public/images/arrow_right.gif"/>
					</a>
				</div>
			</div>
			
			<div id="rig">
				<div class="ri-con">
					<h1>
						<span class="span1">
							<a>ECSHOP 管理中心</a>
						</span>
					</h1>
					<ul class="cloud_list">
						<li class="cloud_close">
							no_license
							<a>点击查看</a>
							<img src="../public/images/no.gif"/>
						</li>
					</ul>
					<div class="list-div">
						<div class="important">
							<ul>
								<li class="item01">
									<div class="con_box">
										<img src="../public/images/icon01.png"/>
										<h2>今日销售总额</h2>
										<p>0.00元</p>
									</div>
								</li>
								<li class="item02">
									<div class="con_box">
										<img src="../public/images/icon02.png"/>
										<h2>今日订单总数</h2>
										<p>0</p>
									</div>
								</li>
								<li class="item03">
									<div class="con_box">
										<img src="../public/images/icon03.png"/>
										<h2>今日注册会员</h2>
										<p>0</p>
									</div>
								</li>
								<li class="item04">
									<div class="con_box">
										<img src="../public/images/icon04.png"/>
										<h2>今日网站访问</h2>
										<p>0</p>
									</div>
								</li>
							</ul>
						</div>
						
						
						
						<div class="console_detaile">
    						<ul>
					        	<li class="item01">
					            	<div class="con_box clearfix">
					                    <div class="img">
					                    	<img src="../public/images/iconfont-weiqueren.png">
					                    </div>
					                    <div class="text">
					                    	<h2>未确认订单</h2>
					                    	<p><a >0</a></p>
					                    </div>
					                </div>
					            </li>
					            <li class="item02">
					            	<div class="con_box clearfix">
					                    <div class="img">
					                    	<img src="../public/images/iconfont-daizhifu.png">
					                    </div>
					                	<div class="text">
					                		<h2>待支付订单</h2>
					                		<p><a >0</a></p>
					                	</div>
					                </div>
					            </li>
					            <li class="item03">
					            	<div class="con_box clearfix">
					                    <div class="img">
					                    	<img src="../public/images/iconfont-daifahuo.png">
					                    </div>
					                	<div class="text">
					                		<h2>待发货订单</h2>
					                		<p><a >0</a></p>
					                	</div>
					                </div>
					            </li>
					            <li class="item04">
					            	<div class="con_box clearfix">
					                    <div class="img">
					                    	<img src="../public/images/iconfont-iconsvggyiwancheng18.png">
					                    </div>
					                	<div class="text">
					                		<h2>成交订单数</h2><p><a >0</a></p>
					                	</div>
					                </div>
					            </li>
					            <li class="item05">
					            	<div class="con_box clearfix">
					                    <div class="img">
					                    	<img src="../public/images/iconfont-dengji.png" >
					                    </div>
					                	<div class="text clearfix">
					                		<h2>新缺货登记</h2>
					                		<p><a >0</a></p>
					                	</div>
					                </div>
					            </li>
					            <li class="item06">
					            	<div class="con_box">
					                    <div class="img">
					                    	<img src="../public/images/iconfont-yifahuo.png">
					                    </div>
					                	<div class="text">
					                		<h2>部分发货</h2><p><a >0</a></p>
					                	</div>
					                </div>
					            </li>
					            <li class="item07">
					            	<div class="con_box clearfix">
					                    <div class="img">
					                    	<img src="../public/images/iconfont-iconfeature.png" width="30" height="30">
					                    </div>
					                	<div class="text">
					                		<h2>退款申请</h2>
					                		<p><a >0</a></p>
					                	</div>
					                </div>
					            </li>
       						 </ul>
   						 </div>
						
					</div>
					
					<!--<div class="list-div">
						<div class="order_count">
							<p style="position:absolute; margin:-1px 0 0 0;">
								<span class="tab_front" style="font-size:20px;">
									<strong>02月订单统计</strong>
								</span>
							</p>
							<div id="order_chart_div">
							
									
								</div>		
							</div>
						</div>-->
					</div>
					
					<!--<div class="list-div">
						<div class="order_count">
						<p></p>
						<div id="">
								
						</div>
					</div>
				</div>-->
				
				<!--<div class="list-div">
					<table>
						<tbody>
							<tr></tr>
						</tbody>
					</table>
				</div>-->
				
				<div id="footer">
					
共执行 35 个查询，用时 0.025601 秒，Gzip 已禁用，内存占用 2.155 MB<br />

版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
				</div>
				
			</div>	
		</div>
	</body>
</html>
