<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link href="/stylesheets/general.css" rel="stylesheet" type="text/css">
	<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
	<script src="/js/jquery-1.11.1.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/sta.js" type="text/javascript" charset="utf-8"></script>
	<body>
		<div id="zong">
			
			<div id="too">
				<span class="s1">
					<a>ECSHOP  管理中心</a>				
				</span>
				<span class="s2">
					 - 添加新商品 
				</span>
				<span class="s3">
					<a>
						<img src="/images/jnsy.png"/>
					</a>
				</span>
				<span class="s4">
					<a>商品列表</a>
				</span>
			</div>
			
				<div id="search">
					关键字：
					<input type="text" class="keywords" />
					<input type="button" value="搜索" class="search" onclick="search()"/>
				</div>
				
	<form method="post" action="" name="listForm" >
  		<div class="list-div" id="listDiv">
			<table cellpadding="3" cellspacing="1">
			  <tbody>
			  	<tr>
				    <th>
				      <input onclick="" type="checkbox">
				      <a href=" ">编号</a>
				      <img src="/images/sort_desc.gif">    
				    </th>
				    <th><a href="" title="点击对列表排序">商品名称</a></th>
				    <th><a href="" title="点击对列表排序">货号</a></th>
				    <th><a href="">价格</a></th>
				    <th><a href="">上架</a></th>
				    <th><a href="">精品</a></th>
				    <th><a href="">新品</a></th>
				    <th><a href="">热销</a></th>
				    <th><a href="">推荐排序</a></th>
				    <th><a href="">库存</a></th>
				    <th><a href="" title="点击对列表排序">虚拟销量</a></th>
				    <th>操作</th>
			  	</tr>
				
				<%  for(var i = 0 ; i < list.length ; i ++) { %>
				<tr>
					<td style="background-color: rgb(255, 255, 255);">
					    	<input type="checkbox" name="checkboxes[]" value="274">274</td>
					<td class="first-cell" style="background-color: rgb(255, 255, 255);">
					    <span onclick=""><%= list[i].goodsname %></span></td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <span onclick=""><%= list[i].goodsnumber %></span></td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <span onclick=""><%= list[i].goodsprice %></span>
					</td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <img src="/images/yes.gif" onclick="">
					</td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <img src="/images/no.gif" onclick=""></td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <img src="/images/no.gif" onclick="">
					</td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <img src="/images/no.gif" onclick="">
					</td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <span onclick="">100</span></td>
				    <td align="center" style="background-color: rgb(255, 255, 255);">
				        <span onclick="">1</span>
				    </td>
				    <td align="center" style="background-color: rgb(255, 255, 255);">
				        <span onclick="">0</span>
				    </td>
				    <td align="center" style="background-color: rgb(255, 255, 255);">
				      <a href="" target="_blank" title="查看"><img src="/images/icon_view.gif" width="21" height="21" border="0"></a>
				      <a href="" title="编辑"><img src="/images/icon_edit.gif" width="21" height="21" border="0"></a>
				      <a href="" title="复制"><img src="/images/icon_copy.gif" width="21" height="21" border="0"></a>
				      <a  class="del" onclick="" title="回收站"><img src="/images/icon_trash.gif" width="21" height="21" border="0"></a>        
				    </td>
				</tr>
				<% } %>
				
				<!--<tr>
					<td style="background-color: rgb(255, 255, 255);">
					    	<input type="checkbox" name="checkboxes[]" value="274">274</td>
					<td class="first-cell" style="background-color: rgb(255, 255, 255);">
					    <span onclick="">貂皮大衣</span></td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <span onclick="">ECS000274</span></td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <span onclick="">0.00</span>
					</td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <img src="/images/yes.gif" onclick="">
					</td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <img src="/images/no.gif" onclick=""></td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <img src="/images/no.gif" onclick=" 'toggle_new', 274)">
					</td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <img src="/images/no.gif" onclick=" 'toggle_hot', 274)">
					</td>
					<td align="center" style="background-color: rgb(255, 255, 255);">
					    <span onclick="">100</span></td>
				    <td align="center" style="background-color: rgb(255, 255, 255);">
				        <span onclick="">1</span>
				    </td>
				    <td align="center" style="background-color: rgb(255, 255, 255);">
				        <span onclick="">0</span>
				    </td>
				    <td align="center" style="background-color: rgb(255, 255, 255);">
				      <a href="" target="_blank" title="查看"><img src="/images/icon_view.gif" width="21" height="21" border="0"></a>
				      <a href="" title="编辑"><img src="/images/icon_edit.gif" width="21" height="21" border="0"></a>
				      <a href="" title="复制"><img src="/images/icon_copy.gif" width="21" height="21" border="0"></a>
				      <a  class="del" onclick="" title="回收站"><img src="/images/icon_trash.gif" width="21" height="21" border="0"></a>        
				    </td>
				</tr>-->
  			</tbody>
		</table>
		
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tbody>	
  	<tr>
    	<td align="right" nowrap="true">
            <div id="turn-page">
		        总计  <span id="totalRecords">35</span>
		        个记录分为 <span id="totalPages">3</span>
		        页当前第 <span id="pageCurrent">1</span>
		        页，每页 <input type="text" size="3" id="pageSize" value="15" onkeypress="">
        <span id="page-link">
          <a href="First()">第一页</a>
          <a href="Prev()">上一页</a>
          <a href="Next()">下一页</a>
          <a href="Last()">最末页</a>
          <select id="gotoPage" onchange="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>          
          </select>
        </span>
      </div>
    </td>
  </tr>
</tbody>
</table>
</div>

<div>
  <input type="hidden" name="act" value="batch">
  <select name="type" id="selAction">
    <option value="">请选择.</option> 
  </select>
	  
    <input type="hidden" name="extension_code" value="">
    <input type="submit" value=" 确定 " id="btnSubmit" name="btnSubmit" class="button" disabled="true">
</div>
</form>
		<div id="footer">
共执行 35 个查询，用时 0.025601 秒，Gzip 已禁用，内存占用 2.155 MB<br />
版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	function search(){
		$.ajax({
			type:"get",
			url:"/api/goodslist",
			data:{
				goodsname:$(".keywords").val()
			},
			success:function(res){
				console.log(res);
				if(res.status == 1){
					console.log("success");
				}else{
					console.log("failed");
				}
			}
		})
	}
</script>